.container{
    max-width: 300px;
    margin: auto;
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:black 3px 2px ;
}
label{
    color: #FFD1FF;
}

h1{
    margin-top: 0;
    color: whitesmoke;
}

input{
    width: 80%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow:black 3px 2px;
    align-items: center;
}

p{
    color: white;
}